@font-face {
    font-family: Montserrat-VariableFont_wght;
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.containerbody{
/*    padding-left:10px;
    padding-right: 10px;
    margin: 10px;*/
}

.dl-horizontal dt {
    white-space: normal;
}

body {
    background-color: Rgb(242,242,247);
   
}

.heading {
    font-size: 50px;
    font-weight: bold;
    line-height: 48px;
}

    .heading img {
        height: 50px;
        width: 50px;
        font-size: 50px;
        padding-bottom: 5px;
        margin-left: 0px;
        padding-left: 0px;
    }

.leftborderdivider {
    /*  border: 1px solid red;*/
    border-left: solid;
    border-width: thick;
    border-color: #dee2e6;
    border-radius: 5px;
}

.nav-item .nav-link,
.nav-tabs .nav-link {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.card a {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}

.nav-tabs {
    border: 0;
    padding: 15px 0.7rem;
}

    .nav-tabs:not(.nav-tabs-neutral) > .nav-item > .nav-link.active {
        box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
    }

.card .nav-tabs {
    border-top-right-radius: 0.1875rem;
    border-top-left-radius: 0.1875rem;
}

.nav-tabs > .nav-item > .nav-link {
    color: #888888;
    margin: 0;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    padding: 11px 23px;
    line-height: 1.5;
}

    .nav-tabs > .nav-item > .nav-link:hover {
        background-color: transparent;
    }

    .nav-tabs > .nav-item > .nav-link.active {
        background-color: #444;
        border-radius: 30px;
        color: #FFFFFF;
    }


.nav-tabs.nav-tabs-neutral > .nav-item > .nav-link {
    color: #FFFFFF;
}

    .nav-tabs.nav-tabs-neutral > .nav-item > .nav-link.active {
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF;
    }

.card {
    border: 0;
    border-radius: 9px;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

    .card .card-header {
        background-color: transparent;
        border-bottom: 0;
        background-color: transparent;
        border-radius: 0;
        padding: 0;
    }




#checkboxes label {
    float: left;
}

#checkboxes ul {
    margin: 0;
    list-style: none;
    float: left;
}

.dietchartdetailed {
    margin-top: 10px;
    padding: 10px;
    font-family: Montserrat-VariableFont_wght;
}

.oil {
    color: red;
    font-weight: lighter
}

.mealblocks {
    margin: 10px auto 10px auto;
}

.standardveggies {
    font-family: Montserrat-VariableFont_wght;
    text-align: left;
    padding: 10px;
}

    .standardveggies p {
        font-weight: normal;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

.list {
    padding-left: 1rem !important;
    font-weight: normal;
}

.standardfruit p {
    font-weight: normal;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.standardfruit {
    font-family: Montserrat-VariableFont_wght;
    text-align: left;
    padding: 10px;
}



.chart {
    height: 350px;
    width: 100%;
}


.toptoaster {
    background-color: #282a35;
    display: flex;
    flex-direction: row;
    padding: 4px;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    align-items: center;
    text-align: center;
    color: white;
}

.newpill {
    background-color: #fff4a3;
    font-family: Source Sans Pro;
    font-style: normal;
    color: black;
    align-self: center;
    justify-content: center;
    align-content: center;
    margin: 3px;
}

.card-header-tabs {
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: 0.5rem !important;
    border-bottom: 0;
}